{{>header}}


<div class="filter">
  <input type="checkbox" class="filter_btn">
  <div class="selected">
    Select location
  </div>
  <div class="location-container">
  </div>
</div>

<body class="home">
  <ul class="container">
    {{#each users}}
    <li class="filterValue">
      <section>
        <figure><img src="img/components/{{img}}" alt="">
          <figcaption class="card_cap">
            <h2>{{name}}, {{age}}</h2>
            <h3>{{location}}</h3>
            <h4>{{profession}}</h4>
          </figcaption>
        </figure>

        <form action="/match" method="POST">
          <div class="decline">
            <div class="white-btn">
              <input type="submit" value="{{name}}" srcset="img/components/cross.svg" media="(min-width: 800px)"
                src="img/components/cross-comp.svg" name="dislike">
            </div>
          </div>
          <div class="superlike">
            <div class="white-btn">
              <input type="image" value="superlike" srcset="img/components/star.svg" media="(min-width: 800px)"
                src="img/components/star-comp.svg" name="superlike">
            </div>
          </div>
          <div class="like">
            <div class="white-btn">
              <input type="submit" value="{{name}}" srcset="img/components/heart.svg" media="(min-width: 800px)"
                src="img/components/heart-comp.svg" name="like">
            </div>
          </div>
        </form>
      </section>
    </li>
    {{/each}}
  </ul>
</body>
{{>footer}}